.show {
  height: 200px;
  width: 200px;
}

.hide {
  display: none;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.box-holder {
  margin: 20px;
  display: inline-block;
}
